/*---------------------------------*/
/* WIDGETIZED FOOTER               */
/* Mike Nichols - October 17, 2009 */
/*---------------------------------*/
/* More info here: */
/* http://thesisthemetools.com/tutorial-widgetized-fat-footer/ */
/* footer widget area setup */
#footer_setup {
   /* widgetized footer background (not footer background) */
   background: #eeeeee;
   /* widget padding */
   padding: 16px 16px 16px 16px;
   /* margin at bottom of widgets */
   margin-bottom: 10px;
   /* do not change this! */
   overflow: hidden;
}

/* widget item setup */
#footer_setup .footer_items {
   /* contents alignment */
   text-align: left;
   /* widget width */
   width: 210px;
   /* space between widgets */
   padding-right: 10px;
   /* text color */
   color: #007; /*#2361A1;*/
   /* do not change these! */
   display: inline-block;
   float: left;
   height: 100%;
}

/* widget item headers*/
#footer_setup .footer_items h3 {
   /* font size */
   font-size: 1em;
   /* bold or not */
   font-weight: bold;
   /* uppercase or not */
   text-transform: uppercase;
   /* space out the letters*/
   letter-spacing: 0px;
   /* font color*/
   color: #000000;
   /* padding under header text */
   padding-bottom: 3px;
   /* border under header text */
   border-bottom: 3px solid #ffdf00;
   /* distance between border and widget text */
   margin-bottom: 5px;
}

/* do not change these! */
#footer_setup .footer_items ul li { list-style: none; }
#footer_setup .footer_items ul { margin: 0px; padding: 0px; }

.custom p.legal {
   background: #fff; 
   color:#000;
}

.custom p.violetminded {
   background: #356101; 
   color:#ff9600;
}
